.box28 {
    position: relative;
    width: 90%;
    margin: 20px auto;
    padding: 25px 10px 7px;
    border: solid 2px #FFC107;
}
.box28 .box-title {
    position: absolute;
    display: inline-block;
    top: -2px;
    left: -2px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    font-size: 17px;
    background: #FFC107;
    color: #ffffff;
    font-weight: bold;
}
.box29 {
    position: relative;
    width: 90%;
    margin: 20px auto;
    padding: 25px 10px 7px;
    border: solid 2px #AD70FF;
}
.box29 .box-title {
    position: absolute;
    display: inline-block;
    top: -2px;
    left: -2px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    font-size: 17px;
    background: #AD70FF;
    color: #ffffff;
    font-weight: bold;
}
.box30 {
    position: relative;
    width: 90%;
    margin: 20px auto;
    padding: 25px 10px 7px;
    border: solid 2px #FF3A77;
}
.box30 .box-title {
    position: absolute;
    display: inline-block;
    top: -2px;
    left: -2px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    font-size: 17px;
    background: #FF3A77;
    color: #ffffff;
    font-weight: bold;
}
